.layoutMenu {
  margin: 0;
  margin-left: 1rem;
  width: 16rem;
  padding: 0;
  list-style-type: none;
  user-select: none;
}

.layoutMenu ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.layoutMenu ul a {
  display: flex;
  align-items: center;
  position: relative;
  outline: 0 none;
  color: var(--text-color);
  cursor: pointer;
  padding: 0.75rem 1rem;

 
  .layout-submenu-toggler {
    font-size: 75%;
    margin-left: auto;
  }

  &.rotated-icon {
    .layout-menuitem-icon {
      transform: rotate(90deg);
    }
  }

  &.active-route {
    font-weight: 700;
    color: var(--primary-color);
  }

  &:hover {
    background-color: var(--surface-hover);
    border-radius: var(--border-radius);
  }

  &:focus {
    background-color: var(--surface-300);
    /*@include focused-inset();*/
  }
}
