.layoutMenuItemRootText {
  font-size: 0.857rem;
  text-transform: uppercase;
  font-weight: 700;
  color: var(--surface-700);
  margin: 0.75rem 0;
}

.layout_root_menuitem {
  margin: 0;
  padding: 0;
  list-style-type: none;
  &:focus {
    background-color: var(--surface-300);
    /*@include focused-inset();*/
  }
}

.layout_root_menuitem a {
  display: flex;
  align-items: center;
  position: relative;
  outline: 0 none;
  color: var(--text-color);
  cursor: pointer;
  padding: 0.75rem 1rem;

  .layout-submenu-toggler {
    font-size: 75%;
    margin-left: auto;
  }

  &.rotated-icon {
    .layout-menuitem-icon {
      transform: rotate(90deg);
    }
  }

  &:hover {
    background-color: var(--surface-hover);
    border-radius: var(--border-radius);
  }
}

.layout_menuitem_icon {
  margin-right: 0.5rem;
}

.layout_root_menuitem > a {
  display: none;
}

.active_menuitem > a {
  .layout_submenu_toggler {
    transform: rotate(-180deg);
  }
}

.layoutMenuItemText {
  flex: 1 1 auto;
}

.active_menuitem > ul {
  max-height: auto;
}

.disabled_menuitem > a {
  opacity: 0.5;
  cursor: auto;
}

.disabled_menuitem a:focus {
  background-color: transparent;
}

.disabled_menuitem > a:hover {
  background-color: transparent;
}

.submenu_wrapper {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.submenu_wrapper a {
  display: flex;
  align-items: center;
  position: relative;
  outline: 0 none;
  color: var(--text-color);
  cursor: pointer;
  padding: 0.75rem 1rem;
}

.submenu_wrapper a.rotated-icon {
  .layout-menuitem-icon {
    transform: rotate(90deg);
  }
}

.submenu_wrapper a.active_route {
  font-weight: 700;
  color: var(--primary-color);
}

.active_route_icon {
  font-weight: 700;
  color: var(--primary-color);
}

.submenu_wrapper a:hover {
  background-color: var(--surface-hover);
  border-radius: var(--border-radius);
}

.disabled_menuitem a:hover {
  background: transparent;
  cursor: auto;
}

.submenu_wrapper ul {
  overflow: hidden;
  max-height: 0;
}

.submenu_wrapper ul li a {
  margin-left: 1rem;
}

.submenu_wrapper ul li li a {
  margin-left: 2rem;
}

.submenu_wrapper ul li li li a {
  margin-left: 2.5rem;
}

.submenu_wrapper ul li li li li a {
  margin-left: 3rem;
}

.submenu_wrapper ul li li li li li a {
  margin-left: 3.5rem;
}

.submenu_wrapper ul li li li li li li a {
  margin-left: 4rem;
}

/* CSSTransition classNames */

.layoutSubmenuEnterActive {
  max-height: 1000px !important;
  transition: max-height 1s ease-in-out;
}

.layoutSubmenuEnterDone {
  max-height: 1000px !important;
}

.layoutSubmenuExit {
  max-height: 1000px !important;
}

.layoutSubmenuExitActive {
  overflow: hidden;
  max-height: 0 !important;
  transition: max-height 0.45s cubic-bezier(0, 1, 0, 1);
}