.layoutMenuItemRootText {
  font-size: 0.857rem;
  text-transform: uppercase;
  font-weight: 700;
  color: var(--surface-700);
  margin: 0.75rem 0;
}

.layoutMenuItemText {
  
}

.layoutMenuItemIcon {
  margin-right: 0.5rem;
}